@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased;
  }
}

.shadow-soft {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

.shadow-card {
  box-shadow: 0 10px 20px -5px rgba(37, 99, 235, 0.03), 0 4px 6px -2px rgba(37, 99, 235, 0.02);
}

/* Hide default scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
